<!-- Footer -->
<footer class="text-center text-white mt-5 rounded mx-2 mb-2 signup">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <button type="button" class="btn btn-outline-light btn-rounded" [routerLink]="['/register']">
            Sign up!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 copyright">
      &copy; {{currentYear}}
      <a class="text-white" href="https://somaafrica.com/">SomaAfrica,</a>
       All rights reserved.
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
