<div class="card m-2 border-primary-subtle">
    <div class="card-header">
        <h5 *ngIf="title" >{{title}}</h5>
    </div>
    <div class="card-body card-items">
        <p class="card-subtitle" *ngIf="description" > {{description}} </p>
        <div *ngFor="let item of items" class="card-item">
            <div class="card border-primary-subtle">
                <div class="card-header" *ngIf="item.title">
                    {{item.title}}
                </div>
                <div class="card-body">
                    <img [src]="item.image" class="card-item-image" *ngIf="item.image">
                    <p *ngIf="item.desc"> {{item.desc}} </p>
                    <a [routerLink]="item.link" *ngIf="item.link" >Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
