<div class="container-fluid vh-100 d-flex justify-content-center align-items-center bg-image">
    <div class="w-50">
        <div class="card p-4 shadow border-primary-subtle">
            <a routerLink="/" class="d-flex justify-content-center"><img src="img/logo.png"> </a>
            <hr>
            <div class="mb-3 text-center">
                <h3>Login</h3>
            </div>
            <p> Hey!</p>
            <div class="alert" *ngIf="(loginForm.invalid || apiNotHealthy || status === STATUS_TYPE.ERROR) && (loginForm.touched || loginForm.dirty)">
                <div class="alert alert-danger" *ngIf="apiNotHealthy">
                    API not healthy, try again later
                </div>
                <div class="alert alert-danger" *ngIf="status === STATUS_TYPE.ERROR">
                    Error occured: {{ errorMessage }}
                </div>
                <div class="alert alert-primary" *ngIf="loginForm.get('username')?.hasError('required')">
                    Username required
                </div>
                <div class="alert alert-primary" *ngIf="loginForm.get('password')?.hasError('required')">
                    Password required
                </div>
            </div>
            <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-floating mb-3">
                    <input class="form-control form-control-lg" id="username" type="text" formControlName="username" placeholder="Enter email or username">
                    <label class="form-label" for="username"> Username / Email / Account ID</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control form-control-lg" id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Enter Password">
                    <label class="form-label" for="password">Password</label>
                    <button
                        type="button"
                        class="btn btn-outline-secondary position-absolute top-50 end-0 translate-middle-y"
                        (click)="showPassword = !showPassword"
                        tabindex="-1"
                        style="border: none; background: none;">
                        <!-- Change the icon based on visibility state -->
                        <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
                    </button>
                </div>
                <button class="btn btn-outline-primary w-100" type="submit" [disabled]="!loginForm.valid || apiNotHealthy">
                  Login
                  <div class="spinner-border" role="status" *ngIf="status == 'LOADING'" >
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </button>
            </form>
            <h6 class="text-center mt-3">OR</h6>
            <a href="google.com" class="text-center">Login with Google</a>
            <a href="facebook.com" class="text-center">Login with Facebook</a>
            <hr>
            <a class="text-center"  [routerLink]="['/register']" >No account yet? Register here</a>
        </div>
    </div>
</div>
