<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center soma-bg">
  <div class="d-flex w-100 layout-wrapper">
    <!-- RIGHT -->
    <div class="w-50 d-flex login-card rounded-4 page right-page">
      <div class="card p-4 overflow-y-auto shadow w-100 rounded-4 border-0">
        <div class="d-flex justify-content-center">
          <a routerLink="/"><img src="img/logo.png" style="width: 14rem;"> </a>
        </div>
        <hr class="border-primary opacity-100">
        <div class="flex-grow-1 d-flex flex-column justify-content-center">
          <div class="mb-3 text-center text-bg-primary rounded-1">
            <h3 class="text-white fw-bold">Register</h3>
          </div>
          <p> Hey!</p>
          @if ((registerForm.invalid || passwordMismatch || usernameEmailRequired || apiNotHealthy || status === STATUS_TYPE.ERROR) && (registerForm.touched || registerForm.dirty)) {
            <div class="alert">
              @if (apiNotHealthy) {
                <div class="alert alert-danger">
                  API not healthy, try again later
                </div>
              }
              @if (status === STATUS_TYPE.ERROR) {
                <div class="alert alert-danger">
                  Error Encountered: {{ errorMessage }}
                </div>
              }
              @if (usernameEmailRequired) {
                <div class="alert alert-danger" aria-live="assertive">
                  Username or Email required
                </div>
              }
              @if (emailInvalid) {
                <div class="alert alert-primary" aria-live="assertive">
                  Email invalid
                </div>
              }
              @if (passwordRequired) {
                <div class="alert alert-primary" aria-live="assertive">
                  Password required
                </div>
              }
              @if (passwordMinLength) {
                <div class="alert alert-danger" aria-live="assertive">
                  Password must be at least 8 characters long
                </div>
              }
              @if (passwordMismatch) {
                <div class="alert alert-primary" aria-live="assertive">
                  Password mismatch
                </div>
              }
            </div>
          }
          <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3">
              <input class="form-control form-control-lg" id="username" type="text" formControlName="username" placeholder="Enter email or username">
              <label class="form-label" for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control form-control-lg" type="email" id="email" placeholder="Email" formControlName="email">
              <label class="form-label" for="email">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control form-control-lg" id="password" [type]="showPassword ? 'test' : 'password'" formControlName="password1" placeholder="Enter Password">
              <label class="form-label" for="password">Password</label>
              <button
                type="button"
                class="btn btn-outline-secondary position-absolute top-50 end-0 translate-middle-y"
                (click)="showPassword = !showPassword"
                tabindex="-1"
                style="border: none; background: none;">
                <!-- Change the icon based on visibility state -->
                <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
              </button>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control form-control-lg" [type]="showPassword2? 'text': 'password'" formControlName="password2" id="password2" placeholder="password">
              <label class="form-label" for="password2">Confirm password</label>
              <button
                type="button"
                class="btn btn-outline-secondary position-absolute top-50 end-0 translate-middle-y"
                (click)="showPassword2 = !showPassword2"
                tabindex="-1"
                style="border: none; background: none;">
                <!-- Change the icon based on visibility state -->
                <fa-icon [icon]="showPassword2 ? faEyeSlash : faEye"></fa-icon>
              </button>
            </div>
            <button class="btn btn-outline-primary action-btn w-100" type="submit" [disabled]="registerForm.invalid || passwordMismatch || usernameEmailRequired || apiNotHealthy">Register</button>
            <div class="d-flex justify-content-center mt-3">
              @if (status == 'LOADING') {
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              }
            </div>
          </form>
          <h6 class="text-center mt-3">OR</h6>
          <a href="google.com" class="text-center">Signup with Google</a>
          <a href="facebook.com" class="text-center">Signup with Facebook</a>
        </div>
      </div>
    </div>

    <!-- LEFT --->
    <div class="w-50 h-100 d-flex flex-column justify-content-center align-items-center bg-primary page left-page p-5 me-2">

      <div class="center-stack text-center">

        <!-- Branding -->
        <div class="mb-4">
          <h2 class="text-white fw-bold mb-2">Welcome to SomaAfrica</h2>
          <p class="text-white-50 mb-0">
            Apply. Learn. Teach. Track. Connect.
          </p>
          <p class="text-white-50 mb-0">
            Rise beyond!
          </p>
        </div>

        <!-- Actions -->
        <div class="d-flex flex-column gap-3 w-100 align-items-center action-row">

          <a class="btn btn-outline-light action-btn"
            [routerLink]="['/login']">
            Login
          </a>

          <a class="btn btn-outline-light action-btn"
            [routerLink]="['/forgot_password']">
            Forgot Password
          </a>

        </div>

      </div>

    </div>
  </div>
</div>

