<div class="container-fluid vh-100 d-flex justify-content-center align-items-center bg-primary-subtle" style="background-image: url(img/boy_with_book.jpg); background-size: contain; background-position: center;" >
    <div class="w-50">
        <div class="card p-4 shadow border-primary-subtle">
            <div class="mb-3 text-center">
                <h3>Register</h3>
            </div>
            <p> Hey!</p>
            <div class="alert" *ngIf="registerForm.invalid && (registerForm.touched || registerForm.dirty)">
                <div class="alert alert-primary" *ngIf="usernameEmailRequired" aria-live="assertive">
                    Username or Email required
                </div>
                <div class="alert alert-primary" *ngIf="emailInvalid" aria-live="assertive">
                  Email invalid
               </div>
                <div class="alert alert-primary" *ngIf="passwordRequired" aria-live="assertive">
                    Password required
                </div>
                <div class="alert alert-danger" *ngIf="passwordMinLength" aria-live="assertive">
                    Password must be at least 8 characters long
                </div>
                <div class="alert alert-primary" *ngIf="passwordMismatch" aria-live="assertive">
                  Password mismatch
                </div>
            </div>
            <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-floating mb-3">
                    <input class="form-control form-control-lg" id="username" type="text" formControlName="username" placeholder="Enter email or username">
                    <label class="form-label" for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control form-control-lg" type="email" id="email" placeholder="Email" formControlName="email">
                    <label class="form-label" for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control form-control-lg" id="password" type="password" formControlName="password1" placeholder="Enter Password">
                    <label class="form-label" for="password">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control form-control-lg" type="password" formControlName="password2" id="password2" placeholder="password">
                    <label class="form-label" for="password2">Confirm password</label>
                </div>
                <button class="btn btn-outline-primary w-100" type="submit" [disabled]="!registerForm.valid">Register</button>
            </form>
            <h6 class="text-center mt-3">OR</h6>
            <a href="google.com" class="text-center">Signup with Google</a>
            <a href="facebook.com" class="text-center">Signup with Facebook</a>
            <hr>
            <a class="link-primary text-center" href="#" [routerLink]="['/login']">Already have an account? Login here</a>
        </div>
    </div>
</div>

