<div class="container-fluid">
    <div class="row d-flex justify-content-between align-items-center">
        <div class="col-7 ps-5">
            <h1 class="text-dark-emphasis text-capitalize"> Unlock the future of education with SomaAfrica!</h1>
            <p class="pt-3"> Enjoy seamless education services tailored to your needs. Are you a Teacher, Parent, Student or a School? You are in the right place.</p>
            <div class="list-group pt-3">
                <a class="list-group-item border-primary-subtle page-link d-flex justify-content-between" [routerLink]="['/admissions']" >
                    Online Admissions
                    <span class="badge text-bg-primary rounded-pill">34,000+ processed</span>
                </a>
                <a class="list-group-item border-primary-subtle page-link d-flex justify-content-between" [routerLink]="['/learning']" >
                    eLearning - Written & Video (Tutorials, UNEB papers, Books)
                    <span class="badge text-bg-primary rounded-pill">1,000+ available</span>
                </a>
                <a class="list-group-item border-primary-subtle page-link d-flex justify-content-between" [routerLink]="['/learning/exams']">
                    eExams - Quiz
                    <span class="badge text-bg-primary rounded-pill">500+ available</span>
                </a>
                <a class="list-group-item border-primary-subtle page-link d-flex justify-content-between" [routerLink]="['/teachers']">
                    Teachers - Coaching, Quizzes, Books, Tutorials
                    <span class="badge text-bg-primary rounded-pill">300+ Teachers</span>
                </a>
                <a class="list-group-item border-primary-subtle page-link d-flex justify-content-between" [routerLink]="['/learning/exams']">
                    Auto grading & Report generation
                    <span class="badge text-bg-primary rounded-pill">100,000+ users</span>
                </a>
                <a class="list-group-item border-primary-subtle page-link d-flex justify-content-between" [routerLink]="['/learning/exams']">
                    Seamless communications - Forums, Notifications, Live chats
                    <span class="badge text-bg-primary rounded-pill">200,000+ messages</span>
                </a>
            </div>
        </div>
        <div class="col-5">
            <img src="img/girl_pointing.png">
        </div>
    </div>
    <app-reusable-card
        [title]="cardData.title"
        [description]="cardData.description"
        [items]="cardData.items">
    </app-reusable-card>

</div>