<div class="container-fluid">
    <div class="row d-flex justify-content-between align-items-center bg-light-subtle ">
        <div class="col-7 ps-5">
            <h1 class="text-dark-emphasis"> Unlock the future of education with SomaAfrica!</h1>
            <p class="pt-3"> Enjoy seamless education services tailored to your needs, are you a teacher, parent, student or a school? You are in the right place.</p>
            <div class="list-group pt-3">
                <a class="list-group-item page-link d-flex justify-content-between" [routerLink]="['/admissions']" >
                    Online Admissions
                    <span class="badge text-bg-primary rounded-pill">14,000 processed</span>
                </a>
                <a class="list-group-item page-link d-flex justify-content-between" [routerLink]="['/learning']" >
                    eLearning - Written, Video, Audio
                    <span class="badge text-bg-primary rounded-pill">5,000 available</span>
                </a>
                <a class="list-group-item page-link d-flex justify-content-between" [routerLink]="['/learning/exams']">
                    eExams - Quiz
                    <span class="badge text-bg-primary rounded-pill">2,000 available</span>
                </a>
                <a class="list-group-item page-link d-flex justify-content-between" [routerLink]="['/teachers']">
                    Teachers - learning materials, coaching
                    <span class="badge text-bg-primary rounded-pill">4,000 active</span>
                </a>
                <a class="list-group-item page-link d-flex justify-content-between" [routerLink]="['/learning/exams']">
                    Auto grading - schools & teachers
                    <span class="badge text-bg-primary rounded-pill">1,000 users</span>
                </a>
                <a class="list-group-item page-link d-flex justify-content-between" [routerLink]="['/learning/exams']">
                    Reports - auto generation & sending to parents
                    <span class="badge text-bg-primary rounded-pill">100,000 students</span>
                </a>
            </div>
        </div>
        <div class="col-5">
            <img src="img/girl_pointing.png">
        </div>
    </div>

</div>