<div class="container-fluid vh-100 d-flex justify-content-center align-items-center bg-primary-subtle" style="background-image: url(img/boy_with_book.jpg); background-size: contain; background-position: center;" >
    <div class="w-50">
        <div class="card p-4 overflow-y-auto shadow border-primary-subtle" style="max-height: 90vh;">
            <a routerLink="/" class="d-flex justify-content-center"><img src="img/logo.png"> </a>
            <hr>
            <div class="mb-3 text-center">
                <h3>Forgot Password?</h3>
            </div>
            <p> Hey!</p>
            <div class="alert" *ngIf="(forgotPasswordForm.invalid || apiNotHealthy) && (forgotPasswordForm.touched || forgotPasswordForm.dirty)">
                <div class="alert alert-danger" *ngIf="apiNotHealthy">
                    API not healthy, try again later
                </div>
                <div class="alert alert-danger" *ngIf="emailRequired" aria-live="assertive">
                    Email required
                </div>
                <div class="alert alert-primary" *ngIf="emailInvalid" aria-live="assertive">
                  Email invalid
               </div>
            </div>
            <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-floating mb-3">
                    <input class="form-control form-control-lg" type="email" id="email" placeholder="Enter your email" formControlName="email">
                    <label class="form-label" for="email">Enter Email</label>
                </div>
                <button class="btn btn-outline-primary w-100" type="submit" [hidden]="forgotPasswordForm.invalid || emailRequired || apiNotHealthy">Reset Password
                    <div class="spinner-border" role="status" *ngIf="status == 'LOADING'">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </form>
            <hr>
            <a class="link-primary text-center" href="#" [routerLink]="['/login']">Remembered password? Login here</a>
            <a class="text-center"  [routerLink]="['/register']" >No account yet? Register here</a>
        </div>
    </div>
</div>

