<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center soma-bg">
    <div class="d-flex w-100 layout-wrapper">
        <!-- LEFT --->
        <div class="w-50 h-100 d-flex flex-column justify-content-center align-items-center bg-primary page left-page p-5 me-2">

            <div class="center-stack text-center">

                <!-- Branding -->
                <div class="mb-4">
                <h2 class="text-white fw-bold mb-2">Welcome to SomaAfrica</h2>
                <p class="text-white-50 mb-0">
                    Apply. Learn. Teach. Track. Connect.
                </p>
                <p class="text-white-50 mb-0">
                    Rise beyond!
                </p>
                </div>

                <!-- Actions -->
                <div class="d-flex flex-column gap-3 w-100 align-items-center action-row">

                    <a class="btn btn-outline-light action-btn"
                        [routerLink]="['/register']">
                        Register
                    </a>

                    <a class="btn btn-outline-light action-btn"
                        [routerLink]="['/login']">
                        Login
                    </a>

                </div>

            </div>

        </div>
        <!-- RIGHT -->
        <div class="w-50 d-flex login-card rounded-4 page right-page">
            <div class="card p-4 shadow w-100 rounded-4 border-0">
                <div class="d-flex justify-content-center">
                    <a routerLink="/" class="logo"><img src="img/logo.png" style="width: 14rem;"> </a>
                </div>
                <hr class="border-primary opacity-100">
                <div class="flex-grow-1 d-flex flex-column justify-content-center">
                    <div class="mb-3 text-center text-bg-primary rounded-1">
                        <h3 class="text-white fw-bold">Forgot Password</h3>
                    </div>
                    <p> Hey!</p>
                    <div class="alert" *ngIf="(forgotPasswordForm.invalid || apiNotHealthy) && (forgotPasswordForm.touched || forgotPasswordForm.dirty)">
                        <div class="alert alert-danger" *ngIf="apiNotHealthy">
                            API not healthy, try again later
                        </div>
                        <div class="alert alert-danger" *ngIf="emailRequired" aria-live="assertive">
                            Email required
                        </div>
                        <div class="alert alert-primary" *ngIf="emailInvalid" aria-live="assertive">
                        Email invalid
                    </div>
                    </div>
                    <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                        <div class="form-floating mb-3">
                            <input class="form-control form-control-lg" type="email" id="email" placeholder="Enter your email" formControlName="email">
                            <label class="form-label" for="email">Enter Email</label>
                        </div>
                        <button class="btn btn-outline-primary action-btn w-100" type="submit" [disabled]="forgotPasswordForm.invalid || emailRequired || apiNotHealthy">Request Reset
                            <div class="spinner-border" role="status" *ngIf="status == 'LOADING'">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

